<ion-header>
    <ion-toolbar>
      <ion-title>Validador de Contraseñas</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <form (ngSubmit)="validarContrasenas()">
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="contrasena" name="contrasena" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="confirmarContrasena" name="confirmarContrasena" required></ion-input>
      </ion-item>
  
      <ion-button expand="block" type="submit">Validar</ion-button>
    </form>
  
    <ion-text *ngIf="mensaje" [color]="colorMensaje">
      <p>{{ mensaje }}</p>
    </ion-text>
  </ion-content>
  